<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Планово-предупредительный ремонт электрооборудования</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href='@Url.Content("~/Content/bootstrap.css")'>
    <link rel="stylesheet" href='@Url.Content("~/Content/Site.css")'>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <ul class="nav navbar-nav text-uppercase">
                    <li>@Html.ActionLink("Бригады", "Brigades", "Brigade")</li>
                    <li>@Html.ActionLink("Цеха", "Departments", "Department")</li>
                    <li>@Html.ActionLink("Оборудование", "Equipments", "Equipment")</li>
                    <li>@Html.ActionLink("Последний ремонт", "LastRepairs", "LastRepair")</li>
                    <li>@Html.ActionLink("Следующий ремонт", "NextRepairs", "NextRepair")</li>
                    <li>@Html.ActionLink("Отчеты и карточки", "Index", "Report")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
