@model PPR.Web.Models.DepartmentViewModel
@{
    ViewBag.Title = "Редактировать цех";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Цех № @Model.Id</h2>
@using (Html.BeginForm("EditDepartment", "Initial", FormMethod.Post))
{
<fieldset>
    @Html.HiddenFor(m => m.Id)
    <p>
        @Html.LabelFor(m => m.Code, "Код цеха")
        <br />
        @Html.EditorFor(m => m.Code)
    </p>
    <p>
        @Html.LabelFor(m => m.Name, "Название цеха")
        <br />
        @Html.EditorFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.NumberOfBrigades, "Кол-во бригад")
        <br />
        @Html.EditorFor(m => m.NumberOfBrigades)

    </p>
    <p><input type="submit" value="Отправить" class="btn btn-success" /></p>
</fieldset>
}
