@model PPR.Web.Models.LastRepairViewModel

@{
    ViewBag.Title = "Добавить запись о последнем ремонте";
}

<h2>Добавить запись о последнем ремонте</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.RepairType, htmlAttributes: new { @class = "control-label" })
    <br />
    @Html.DropDownList("RepairType", ViewBag.Repairs as SelectList, htmlAttributes: new { @class = "btn btn-default dropdown-toggle" })
    <br /><br />
    @Html.LabelFor(m => m.Technician, htmlAttributes: new { @class = "control-label" })
    <br />
    @Html.DropDownList("Technician", ViewBag.Technicians as SelectList, new { @class = "btn btn-default dropdown-toggle" })
    <br /><br />
    @Html.LabelFor(m => m.Date, htmlAttributes: new { @class = "control-label" })
    <br />
    @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.LabelFor(m => m.EquipmentId, htmlAttributes: new { @class = "control-label" })
    <br />
    @Html.DropDownList("EquipmentId", ViewBag.Equipments as SelectList, new { @class = "btn btn-default dropdown-toggle" })
    <br />
    <br />
    <input type="submit" value="Добавить" class="btn btn-info btn-lg" />
}
