@model PPR.Web.Models.PageViewModel<PPR.Web.Models.LastRepairViewModel>
@using PPR.Web.HtmlHelpers

@{
    ViewBag.Title = "Последний ремонт";
}

<h2>Информация по последнему ремонту оборудования</h2>

<table class="table table-striped table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Equipment.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().RepairType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Technician)
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Items)
    {
        <tr class="bg-info">
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician)
            </td>
            <td>
                <p>@Html.ActionLink("Редактировать", "EditLastRepair", "LastRepair", new { id = item.Id }, new { @class = "btn btn-success" })</p>

            </td>
            <td>
                <p>@Html.ActionLink("Удалить", "DeleteLastRepair", "LastRepair", new { id = item.Id }, new { @class = "btn btn-danger" })</p>
            </td>
        </tr>
    }
</table>
<div class="btn-group">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("LastRepairs", new { page = x }), "btn btn-default")
</div>
<br /><br />
<div>
    @*<div><p><a href="/LastRepair/CreateLastRepair/" class="btn btn-info btn-lg">Создать запись о последнем ремонте</a></p></div>*@
    <div><p>@Html.ActionLink("Создать запись о последнем ремонте", "CreateLastRepair", "LastRepair", new { @class = "btn btn-info btn-lg" })</p></div>
</div>
